#bio {
  background-color: $alt-background-color;
  text-align: center;
  width: 100%;

  h2 {
    color: $alt-title-color;
    font-family: 'Fjalla One', sans-serif;
    font-size: 4em;
    letter-spacing: .3em;
    padding-top: 1em;
    text-transform: uppercase;
  }

  .card {
    margin: 1em;
    padding: .25em;
    text-align: justify;

    img {
      border-radius: 50%;
      float: left;
      margin-right: 1em;
      width: 15em;
    }

    p {
      color: $alt-title-color;
    }
  }
}
