#landing {
  height: 100%;
  text-align: center;
  width: 100%;
  img {
    border-radius: 50%;
    height: 15em;
    margin-top: 5em;
    width: 15em;
  }
  h1 {
    color: $title-color;
    font-family: 'Scope One';
    font-size: 4em;
  }
  p {
    color: $title-color;
    font-family: 'Homemade Apple';
  }
}
