#projects {
  background-color: $background-color;
  padding-bottom: 2em;
  text-align: center;
  width: 100%;

  h2 {
    color: $title-color;
    font-family: 'Fjalla One', sans-serif;
    font-size: 4em;
    letter-spacing: .3em;
    padding-top: 1em;
    text-transform: uppercase;
  }

  .card {
    background-color: $title-color;
    border-radius: 1em;
    height: 10.5em;
    margin: .75em 0;
    padding: .25em 0;

    h3 {
      color: $alt-title-color;
      font-family: 'Scope One', serif;
      font-weight: bold;
      text-transform: capitalize;
    }

    p {
      color: $alt-title-color;
    }
  }
}
