#skills {
  background-color: $alt-background-color;
  height: 100%;
  text-align: center;
  width: 100%;

  h2 {
    color: $alt-title-color;
    font-family: 'Fjalla One', sans-serif;
    font-size: 4em;
    letter-spacing: .3em;
    padding-top: 1em;
    text-transform: uppercase;
  }

  .card {
    background-color: $alt-title-color;
    height: 10em;
    margin: .25em 0;

    img {
      height: 8em;
      width: 8em;
      margin: .5em;
    }
  }
}
