/* line 1, ../sass/pages/_home.scss */
html,
body {
  background-color: #9AA0A8;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 10, ../sass/pages/_home.scss */
.navbar {
  background-color: #9AA0A8;
  margin: 0;
}

/* line 1, ../sass/pages/_landing.scss */
#landing {
  height: 100%;
  text-align: center;
  width: 100%;
}
/* line 5, ../sass/pages/_landing.scss */
#landing img {
  border-radius: 50%;
  height: 15em;
  margin-top: 5em;
  width: 15em;
}
/* line 11, ../sass/pages/_landing.scss */
#landing h1 {
  color: #393E41;
  font-family: 'Scope One';
  font-size: 4em;
}
/* line 16, ../sass/pages/_landing.scss */
#landing p {
  color: #393E41;
  font-family: 'Homemade Apple';
}

/* line 1, ../sass/pages/_skills.scss */
#skills {
  background-color: #393E41;
  text-align: center;
  width: 100%;
}
/* line 6, ../sass/pages/_skills.scss */
#skills h2 {
  color: #9AA0A8;
  font-family: 'Fjalla One', sans-serif;
  font-size: 4em;
  letter-spacing: .3em;
  padding-top: 1em;
  text-transform: uppercase;
}
/* line 15, ../sass/pages/_skills.scss */
#skills .card {
  background-color: #9AA0A8;
  height: 10em;
  margin: .25em 0;
}
/* line 20, ../sass/pages/_skills.scss */
#skills .card img {
  height: 8em;
  margin: .5em;
  width: 8em;
}

/* line 1, ../sass/pages/_projects.scss */
#projects {
  background-color: #9AA0A8;
  text-align: center;
  width: 100%;
}
/* line 6, ../sass/pages/_projects.scss */
#projects h2 {
  color: #393E41;
  font-family: 'Fjalla One', sans-serif;
  font-size: 4em;
  letter-spacing: .3em;
  padding-top: 1em;
  text-transform: uppercase;
}

/* line 1, ../sass/pages/_bio.scss */
#bio {
  background-color: #393E41;
  text-align: center;
  width: 100%;
}
/* line 6, ../sass/pages/_bio.scss */
#bio h2 {
  color: #9AA0A8;
  font-family: 'Fjalla One', sans-serif;
  font-size: 4em;
  letter-spacing: .3em;
  padding-top: 1em;
  text-transform: uppercase;
}

/* line 1, ../sass/pages/_qanda.scss */
#qanda {
  background-color: #9AA0A8;
  text-align: center;
  width: 100%;
}
/* line 6, ../sass/pages/_qanda.scss */
#qanda h2 {
  color: #393E41;
  font-family: 'Fjalla One', sans-serif;
  font-size: 4em;
  letter-spacing: .3em;
  padding-top: 1em;
  text-transform: uppercase;
}
